:root {
    --bgTopNavColor : #000fb9;
    --bgNavFirstColor : #0459d1;
    --bgNavSecondColor : #0f6a03;
}

body {
    margin: 0;
    padding: 0;
}

.sticky-top {
    background: linear-gradient(to right, var(--bgNavFirstColor), var(--bgNavSecondColor));
}

.notice {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1.05rem;
    background-color: var(--bgTopNavColor);
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: 700;
    color: #000;
}

.navbar-brand .logoimage {
    height: 3.2rem;
}

.navbar-brand .aheading {
    font-size: 1.7rem;
    margin-left: 0.5rem;
    margin-top: -1.6rem;
}

.navbar-brand .logotxt {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 500;
    position: absolute;
    left: 5.8rem;
    top: 3.4rem;
}

.brands span {
    font-size: 18px;
    background-color: #fff;
    color: #127905;
    padding: 5px;
    border-radius: 5px;
}

.box {
    background-color: #0d69c4b0;
    width: 70%;
    position: absolute;
    top: -26.5rem;
    left: -10.5rem;
}

.main-head {
    padding-left: 1rem;
    word-wrap: break-word;
    font-size: 3.2rem;
}

.nav-link {
    color: #fff;
    cursor: pointer;
}

.nav-link:hover {
    color: #fff;
}

.shape {
    background-image: url("../IMG/image.png");
    height: 12.5rem;
    position: relative;
    top: -8.4rem;
}

.box p {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.box button {
    color: #fff;
    background-color: #08a908;
    padding: 10px;
    font-weight: 500;
    font-size: 1.1rem;
}

.announcement {
    position: relative;
    top: -11rem;
}

.announcement .ah1 {
    width: 17%;
}

.announcement .ah2 {
    width: 50%;
}

.spectrum {
    width: 80%;
    margin: -8rem auto;
}

.spectrum .border-line1 {
    margin-bottom: 1rem;
    text-decoration: 4px #2e96f7 underline;
}





.fsh {
    padding-top: 0.7rem;
}

.fservice {
    padding: 6.2rem;
    font-size: 1.8rem;
    background: linear-gradient(to right, #00000080, #0009), url("../IMG/tt1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.fshape {
    background-image: url("../IMG/shape.png");
    height: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 2.5rem;
    width: 100vw;
}

.f-foot {
    color: #fff;
    background: linear-gradient(to right, var(--bgNavFirstColor), var(--bgNavSecondColor));
    margin-top: -4rem;
}

.f-foot .fsection {
    padding-top: 2rem;
}

.f-foot .fsection .fcontent {
    margin: 3rem 1.5rem 0;
}

.f-foot .media a {
    padding: 0.7rem 0.6rem;
}
.f-foot .text-capitalize {
    font-size: 1.5rem;
}

.f-foot .text-capitalize+p {
    font-size: 1.1rem;
    font-weight: 400;
}

.f-foot .flinks {
    list-style-type: none;
}

.flinks li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.12rem;
}

.flinks li a i {
    padding-right: 1.8rem;
}

.footer-copy {
    background-color: #fff !important;
    color: #000d;
    border: 1px dashed black;
    border-radius: 0;
}

.error {
    text-align: center;
    margin-top: 12rem ;
    font-size: 1.5rem;
}

.error h2 {
    font-weight: 400;
}