:root {
    --bgTopNavColor : #1c69c8;
    --bgNavFirstColor : #0459d1;
    --bgNavSecondColor : #0f6a03;
    --textColorWhite : #fff;
    --textColorBlack : #000;
    --boxbuttonbg : #08a908;
    --btn-bgColor : #127905;
}

body {
    margin: 0;
    padding: 0;
}

.sticky-top {
    background: linear-gradient(to right, var(--bgNavFirstColor), var(--bgNavSecondColor));
}

.notice {
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1.05rem;
    background-color: var(--bgTopNavColor);
    border-bottom: 2px solid linear-gradient(to right, #004ebc, #0f6a03);
}

.navbar-brand {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--textColorBlack);
}

.navbar-brand .logoimage {
    height: 3.2rem;
}

.navbar-brand .aheading {
    font-size: 1.7rem;
    margin-left: 0.5rem;
    margin-top: -1.4rem;
}

.navbar-brand .logotxt {
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 500;
    position: absolute;
    left: 5.8rem;
    top: 3.6rem;
}

.brands span {
    font-size: 18px;
    background-color: var(--textColorWhite);
    color: #127905;
    padding: 5px;
    border-radius: 5px;
}

.box {
    background-color: #0d69c4b0;
    width: 70%;
    position: absolute;
    top: -26.5rem;
    left: -10.5rem;
}

.main-head {
    padding-left: 1rem;
    word-wrap: break-word;
    font-size: 3.2rem;
}

.nav-link {
    color: var(--textColorWhite);
    cursor: pointer;
}

.nav-link:hover {
    color: var(--textColorWhite);
}

.shape {
    background-image: url("../IMG/image.png");
    height: 12.5rem;
    position: relative;
    top: -8.4rem;
}

.box p {
    padding-left: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
}

.box button {
    color: var(--textColorWhite);
    background-color: var(--boxbuttonbg);
    padding: 0.65rem;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.box button:hover {
    background-color: var(--boxbuttonbg);
}

.announcement {
    position: relative;
    top: -11rem;
}

.announcement .ah1 {
    width: 17%;
}

.announcement .ah2 {
    width: 50%;
}

.spectrum {
    width: 80%;
    margin: -8rem auto;
}

.spectrum .border-line1 {
    margin-bottom: 1rem;
    text-decoration: 4px #2e96f7 underline;
}



.carding {
    width: 20rem;
    height: 18rem;
}

.org-back {
    background-image: linear-gradient(to right, #000a, #000c), url("../IMG/back3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.certi-image {
    height: 16.8rem;
}

.staff-image {
    height: 20.2rem;
}

.carousel-inner {
    display: inline-block;
}

.slide-image {
    width: 22%;
}

.accordion-button {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.accordion-button:not(.collapsed) {
    color: #212529;
}

.accordion .accordion-body {
    background-color: #f4f4f4;
}

.accordion .accordion-body ul li {
    font-weight: 500;
    font-size: 1.05rem;
    padding-left: 0.3rem;
}

.table thead {
    font-size: 1.1rem;
} 

.table tbody {
    font-size: 1.04rem;
}

.fsh {
    padding-top: 0.7rem;
}

.fservice {
    padding: 6.2rem;
    font-size: 1.8rem;
    background: linear-gradient(to right, #0007, #0009), url("../IMG/tt1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fshape {
    background-image: url("../IMG/shape.png");
    height: 8rem;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 2.5rem;
    width: 100vw;
}

.f-foot {
    color: var(--textColorWhite);
    background: linear-gradient(to right, var(--bgNavFirstColor), var(--bgNavSecondColor));
    margin-top: -4rem;
}

.f-foot .fsection {
    padding-top: 2rem;
}

.f-foot .fsection .fcontent {
    margin: 3rem 3rem 0;
}

.f-foot .media ul {
    list-style-type: none;
}

.f-foot .media a {
    padding: 0.7rem 0.6rem;
}
.f-foot .text-capitalize {
    font-size: 1.5rem;
}

.f-foot .text-capitalize+p {
    font-size: 1.1rem;
    font-weight: 400;
}

.f-foot .flinks {
    list-style-type: none;
}

.flinks li a {
    color: var(--textColorWhite);
    text-decoration: none;
    font-weight: 500;
    font-size: 1.12rem;
}

.flinks li a i {
    padding-right: 1.8rem;
}

.footer-copy {
    background-color: var(--textColorWhite) !important;
    color: var(--textColorBlack);
    opacity: 0.8;
    border: 1px dashed var(--textColorBlack);
    border-radius: 0;
}

.error {
    text-align: center;
    margin-top: 12rem ;
    font-size: 1.5rem;
}

.error h2 {
    font-weight: 400;
}

.whatsapp {
    width: 4.5rem;
    height: 4.5rem;
    position: fixed;
    bottom: 2rem;
    left: 4rem;
    z-index: 10;
}

.fixed-btn {
    position: fixed;
    z-index: 9;
    color: #fff !important;
    font-size: 1rem;
    transform: rotate(270deg);
    background-image: linear-gradient(to right, var(--bgNavFirstColor), var(--btn-bgColor));
    padding: 0.7rem 0.9rem;
    font-weight: 700;
}

.tel-btn {
    right: -2rem;
    top: 75%;
}

.form-btn {
    right: -3.4rem;
    top: 53%;
}